<form class="formwidth" (ngSubmit)="onSubmit()" [formGroup]="eventForm">
  <div>
    <label>Event type: </label>
    <mat-radio-group formControlName="eventType">
      <mat-radio-button value="tour">Tour</mat-radio-button>
      <mat-radio-button value="range">Date-Range</mat-radio-button>
      <mat-radio-button value="single">Special Event</mat-radio-button>
    </mat-radio-group>
  </div>

  <div>
    <mat-form-field *ngIf="eventForm.get('eventType').value !== 'range'">
      <input matInput [matDatepicker]="date" placeholder="Choose a date" formControlName="date" name="firstname">
      <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
      <mat-datepicker #date></mat-datepicker>
    </mat-form-field>
    <mat-form-field *ngIf="eventForm.get('eventType').value === 'range'">
      <input matInput [matDatepicker]="date" placeholder="Choose a from date" formControlName="date" name="firstname">
      <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
      <mat-datepicker #date></mat-datepicker>
    </mat-form-field>
    <mat-form-field *ngIf="eventForm.get('eventType').value === 'range'">
      <input matInput [matDatepicker]="dateUntil" placeholder="Choose a until date" formControlName="dateUntil" name="date until">
      <mat-datepicker-toggle matSuffix [for]="dateUntil"></mat-datepicker-toggle>
      <mat-datepicker #dateUntil></mat-datepicker>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field *ngIf="eventForm.get('eventType').value !== 'tour'">
      <input matInput placeholder="Description" formControlName="description" name="description">
    </mat-form-field>
    <mat-form-field *ngIf="eventForm.get('eventType').value === 'tour'">
      <input type="text" placeholder="Pick one" aria-label="Number" matInput formControlName="tour" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let tour of filteredTours | async" [value]="tour">
          {{tour.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" (onClick)="onSubmit()">Submit</button>
</form>